<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../assets/css/Global.css" />
        <link rel="stylesheet" href="../assets/css/homePage.css" />

        <title>MyFlix</title>
    </head>
    <body>
        <nav class="sideboard">
            <div class="buttons_side">
                <div class="listItens">
                    <i class="bx bx-list-ul"></i>
                </div>
                <div class="addItem">
                    <i class="bx bx-add-to-queue"></i>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="infos">
                <div class="logo">
                    <h1>My<span>Flix</span></h1>
                </div>

                <h3>
                    Bem vindo ao My<span>Flix</span>. Aqui você pode adicionar seus filmes e séries
                    favoritos!
                </h3>

                <div class="buttons">
                    <a href="" class="list_button">Minha lista</a>
                    <a href="" class="add_button">Adicionar</a>
                </div>
            </div>
        </div>
    </body>
</html>
