<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../assets/css/Global.css" />
        <link rel="stylesheet" href="../assets/css/list.css" />
        <title>MyFlix</title>
    </head>
    <body>
        <aside>
            <nav class="sideboard">
                <ul>
                    <li class="listItens">
                        <a href="list.html">
                            <i class="bx bx-list-ul"></i>
                        </a>
                    </li>
                    <li class="addItem">
                        <a href="add.html">
                            <i class="bx bx-add-to-queue"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="content">
                <div class="container">
                    <div class="title_page">
                        <h2 class="title">Meus Filmes e Séries</h2>
                    </div>
                    <div class="section-table">
                        
                        <table class="tabela">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Gênero</th>
                                    <th>Tipo</th>
                                    <th>Plataforma</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Homem Aranha Sem Volta Pra Casa</td>
                                    <td>Ficção, ação</td>
                                    <td>Filme</td>
                                    <td>Disney+ plus</td>
                                    <td>
                                        <div class="buttons">
                                            <i id="btnExclui" class="bx bx-trash-alt"></i>
                                            <i class="bx bxs-edit"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal-overlay">
            <div class="modal">
                <i class="bx bx-error"></i>
                <h3>
                    Deseja mesmo excluir este item da lista? Após confirmar, não será possível
                    recuperá-lo.
                </h3>
                <div class="modal-buttons">
                    <button class="btn-confirm">Confirmar</button>
                    <button id="btn-fechaModal" class="btn-cancel">Cancelar</button>
                </div>
            </div>
        </div>
    </body>

    <script>
        const btnExcluir = document.querySelector("#btnExclui");
        const btnFechaModal = document.querySelector("#btn-fechaModal");

        btnExcluir.addEventListener("click", () => {
            document.querySelector(".modal-overlay").classList.add("active");
        });

        btnFechaModal.addEventListener("click", () => {
            document.querySelector(".modal-overlay").classList.remove("active");
        });
    </script>
</html>
