.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.section-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    width: 550px;
}

form > div {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: var(--input-color);
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: white;
    background: var(--red);
}

button:hover {
    opacity: 0.9;
}

input::placeholder {
    color: white;
}

@media screen and (max-width: 830px) {
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    input,
    button {
        font-size: 16px;
    }
}
