.section-table {
    overflow-x: auto;
}

.tabela {
    border-collapse: initial;
    width: 100%;
    border-spacing: 0 0.2rem;
    color: var(--text-list);
}

.tabela th,
.tabela td {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding: 1rem 1.5rem;
    text-align: left;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabela thead {
    background: var(--bg-list-title);
}

.tabela tbody {
    background: var(--bg-list-itens);
}

.tabela thead tr th:first-child,
.tabela tbody tr td:first-child {
    border-radius: 5px 0 0 5px;
}

.tabela thead tr th:last-child,
.tabela tbody tr td:last-child {
    border-radius: 0 5px 5px 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons li {
    list-style: none;
    margin: 0 0.5rem;
}

.buttons i {
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.buttons i:hover {
    color: #dacece;
}

/*---------------MODAL---------------*/

.modal {
    background: #f0f2f5;
    padding: 2.4rem;
    position: relative;
    max-width: 650px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.modal i {
    font-size: 80px;
    color: var(--pink);
}

.modal h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--text-alert);
}

.modal .modal-buttons {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .modal-buttons button {
    width: 48%;
    height: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
}

.modal .modal-buttons button:hover {
    opacity: 0.9;
}

.btn-confirm {
    background: var(--pink);
}

.btn-cancel {
    background: var(--red);
}

@media screen and (max-width: 830px) {
    .modal i {
        font-size: 70px;
    }

    .modal h3 {
        font-size: 24px;
    }

    .modal .modal-buttons button {
        font-size: 18px;
    }
}

@media screen and (max-width: 620px) {
    .tabela th,
    .tabela td {
        font-size: 16px;
    }
}
